<div class="container">
    <a class="btn btn-info" href="/apparel">View Apparel</a>
    <a class="btn btn-info" href="/apparel/new">+ Add Apparel</a>
    <a class="btn btn-info" href="/accessory">View Accessories</a>
    <a class="btn btn-info" href="/accessory/new">+ Add Accessory</a>
</div>
<br>