<!DOCTYPE>
<html>

<head>
    <title>SS</title>
    <link href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>

    <header class="banner">
        <div class="container">
            <a href='/'>
                <h1>Secondhand Selects</h1> 
            </a> 
            {{#if currentUser}}
            <span>Welcome - {{currentUser.local.email}}
            {{/if}}
</span>
        </div>
        <nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li><a href="/logout">Logout {{currentUser.local.name}}</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{!-- <li><a href="/signup">Signup</a></li> --}}
          {{/if}}
        </ul>
    </div>
  </nav>
    </header>
    {{{ body }}}
</body>

</html>